
*{
    font-family: Arial, sans-serif;
}

.container-fluid {
    background-color: #a3d46f;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
            /*----- AGREGADO ----------*/
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.42857143;
    color: #162a36;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    font-family: "Lato","Helvetica Neue",Arial,sans-serif;
    font-size: 1em;
}
nav{
    list-style-type: none;
}
nav a{
    display: inline-block;
    margin-right: 1rem;
    color:#f20707;
    text-decoration: none;
    font-size: 1.5em;
    margin: 20px;
}
main {
    padding: 10px;
    height: 100%;
}
        /*-------- ZONA DE ALQUILERES------------- */
.banner-location{
    display:inline-block;
    background-color: #e0e343;
    width: 100%;
    height: 3rem;
    padding-top: 10px;
}
h4{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
h4:hover{
    background-color: #f20707;
    color: aliceblue;
    transition: 1.0s ease-in-out;
}

        /*---- ZONA DE ALQUILERES----------------- */
.search {
    text-align: center;
    margin-bottom: 30px;
}

.search input,
.search button {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}
                /* -----SLIDER---- */
h2{
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
    margin: 30px auto 0;
    overflow: hidden;   /*oculta lo que sobra del width */
}
.slider-frame{
    display: inline-block;
    width: 500px;
    height: auto;
    margin: 30px auto 0;
    overflow: hidden;
}     
.slider-frame ul{
    display: flex;
    padding: 0;
    width: 300%;
    
    animation: slide 16s infinite alternate ease-in-out;
}
.slider-frame li{
    list-style: none;
    width: 100%;
}
.slider-frame img{
    width: 100%;
}
@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}          

                /* ----FIN SLIDER ----*/

.apartment{
    border: 3px solid #775353;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    
}
.apartment-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.map{
    box-shadow:7px 13px 37px #000;
    
} 
.container{
    padding: 15px;
    background-color: #a3d46f;

                  /* AGREGADO  DOS */

}

.container h3 p p {
    padding: 0 40px;
   
}


                    /* ---------FORMULARIO------------- */


.form-register{
    display:block;
    background-color: rgb(218, 225, 213);
    width: 650px;
    height:570px ;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 30px;   
    margin: auto;
    margin-top: 50px;
    font-family:  Calibri, sans-serif;
    box-shadow: 7px 13px 37px #000;
    position: relative;
    right: -400px;
    top: -650px;
}
.form-register h3{
    font-size: 1.8em;
    margin-bottom: 30px;
    font-weight: 600;
}
.controls{
    background-color: rgb(212, 228, 228);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 16px;
    border: 2px solid red;
    font-size: 18px;
    font-family:  Calibri, sans-serif;
    color: rgb(6, 0, 0);
    font-weight: 600;
    
}
.form-register p{
    height: 50px;
    text-align: center;
    font-size: 18px;
   
}
.form-register a{
    color: rgb(10, 0, 0);
    text-decoration: none;
}
.form-register a:hover{
    color:  rgb(6, 0, 0);;
    text-decoration: underline;
}
.form-register .botons{
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    background-color: bisque;
    border-radius: ;
    font-weight: bold;
    border-radius: 10px;
}
footer {
    position: relative;
    top:-660px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    
}